html,
body {
	margin: 0;
	padding: 0;
}
/* Hide the default checkbox */
.toggle {
	display: none;
  }
  
  /* Style the custom checkbox */
  .custom-checkbox {
	width: 20px;
	height: 20px;
	border: 2px solid #d1d5db;
	border-radius: 4px;
	display: inline-block;
	position: relative;
	cursor: pointer;
  }
  
  .custom-checkbox.checked {
	background-color: #34d399; 
	border-color: #34d399; 
  }
  
  .custom-checkbox.checked::after {
	content: '';
	position: absolute;
	top: 0px;
	left: 5px;
	width: 6px;
	height: 12px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
  }
  
